@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-slide{
  display: flex !important;
  justify-content: center !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  .scrollbar-thin {
    @apply [&::-webkit-scrollbar]:w-[2px] [&::-webkit-scrollbar-thumb]:bg-white;
  }

  .neon-shadow {
    @apply -inset-0.5 bg-teal-50 group-hover:opacity-100 group-hover:duration-200 blur opacity-30;
  }
}